[user]
	name = ngcdan
	email = linuss1908@gmail.com
[code]
	filemode = false
[core]
	autocrlf = input
	ignorecase = false
[pull]
	ff = only
[init]
	defaultBranch = master
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
