"
"
" ------------------ General Settings -------------------
let g:mapleader = "\<space>"
set idearefactormode=keep
set ideajoin
set surround
set easymotion

set hidden                              " Required to keep multiple buffers open multiple buffers
set encoding=utf-8                      " The encoding displayed
set nobackup                            " This is recommended by coc
set nowritebackup                       " This is recommended by coc

set history=50
set ruler
set showcmd " display incomplete commands
set laststatus=2
set autowrite    " automatically :write before running commands
set noshowmode


" indents
filetype plugin indent on
set shiftwidth=2
set tabstop=2                           " Insert 2 spaces for a tab
set autoindent                          " Good auto indent
set smarttab
set nowrap "No Wrap lines
set backspace=indent,eol,start  " allow backspacing over everything in insert mode

set wildignore+=*/node_modules/*

set nojoinspaces                        " use one space, not two, after punctuation

set mouse=a                            " Enable your mouse

set numberwidth=5

" set list listchars=tab:»·,trail:·,space:· " Display extra whitespace

set splitbelow splitright                         " Horizontal splits will automatically be below

" Autocomplete with dictionary words when spell check is on
set complete+=kspell

" Always use vertical diffs
set diffopt+=vertical

set cursorline                          " Enable highlighting of the current line
" make it obvious where 80 characters is
set colorcolumn=120

set updatetime=50                      " Faster completion

set clipboard=unnamedplus               " Copy paste between vim and everything else

" ingore case when searching
set ignorecase
set incsearch                           " search and hightlight 
set hlsearch
set smartcase

set lazyredraw

set termguicolors
set background=dark                     " tell vim what the background color looks like


set cmdheight=2 " Give more space for displaying messages.
set shortmess+=c    " Don't pass messages to |ins-completion-menu|.
set ttyfast

set inccommand=split " for incsearch while sub ( neovim only )


" -------------------- Navigation, Window--------------------
" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" actions
nmap <leader>bd <action>(CloseEditor)

" Split
nnoremap <space>\ :vsplit<CR> 
nnoremap ss :vsplit<CR> 
nnoremap <space>/ :split<CR>
nnoremap sv :split<CR>

" window focus
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

" Get off my lawn
nnoremap <Left> :echo "Use h"<CR>
nnoremap <Right> :echo "Use l"<CR>
nnoremap <Up> :echo "Use k"<CR>
nnoremap <Down> :echo "Use j"<CR>

" Tabs
nnoremap <silent> <S-l> :bnext<CR>
nnoremap <silent> <S-h> :bprevious<CR>

vnoremap <silent> p "_dP

" --------------Edit--------------------

" Fast saving 
nmap <space>w :w!<CR>
" Alternate way to quit 
nnoremap qq :wq!<CR>

nnoremap Q :q!<CR>

" --------------------Indent, Format, Refactor------------------------
" Better indenting
vnoremap < <gv
vnoremap > >gv

" ----------------- Search, Replace --------------------
" No highlight search
map <silent> <space><space> :nohl<cr>

" ---------------------- Escape, Exit ------------------------
" escape
inoremap jk <Esc>

" find current word in file
nnoremap <leader>k /<C-R><C-W><CR>