set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set easymotion

set commentary
set mapleader = " "

" soft tabs , 2 spaces
set tabstop=2                           " Insert 2 spaces for a tab
set shiftwidth=2
set shiftround
set expandtab                           " Converts tabs to spaces
set autoindent                          " Good auto indent
set smartindent

set mouse=a                            " Enable your mouse

set list listchars=tab:»·,trail:·,space:· " Display extra whitespace

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv

nnoremap <Leader>\ :vsplit<CR>
nnoremap <Leader>/ :split<CR>

" Better window navigation 
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Move selected line / block of text in visual mode
xnoremap K :move '<-2<CR>gv-gv<CR>
xnoremap J :move '>+1<CR>gv-gv<CR>

inoremap jk <ESC>
inoremap kj <ESC>